@font-face {
  font-family: 'ABCOtto';
  src: url('https://cdn.jsdelivr.net/gh/snabbygabby/kindred-assets@main/ABCOtto-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
